{{yield}}
<div class="dates-component">
  <div class="dates-container">
  {{#each @dailyForecasts as |dayForecast|}}
    <Day
      @date={{dayForecast.date}}
      @iconNumber={{dayForecast.iconNumber}}
      @maxTemp={{dayForecast.maxTemp}}
      @minTemp={{dayForecast.minTemp}}
      @description={{dayForecast.description}}
    />
  {{/each}}
  </div>

</div>