<div class="day" data-test-day>
  <div class="date" data-test-date>{{@date}}</div>
  <div class="icon">{{inline-svg (concat "/assets/icons/" @iconNumber)}}</div>
  <div class="temp" data-test-temp>{{@minTemp}}-{{@maxTemp}}</div>
  <div class="description" data-test-description><span>{{@description}}</span></div>
</div>
